
* {
    font-family: sans-serif;
    color: #e4e4ef;
}

body {
    background-color: #181818;
    overflow-y: hidden;
}

body > p {
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid #52494e;
    padding: 16px 0;
}

body > p a {
    color: #9e95c7;
}

body > div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

#thebutton {
    font-size: 32px;
}

#desc {
    color: #9e95c7;
    font-size: 24px;
}

#error {
    color: #c73c3f;
    font-size: 24px;
}
